    body {
        background-color: lightgray;
    }
    
    .colorVioleta {
        background-color: dodgerblue;
    }
    
    .siguenos {
        margin-top: 50px;
        width: 100%;
        text-align: center;
        background-color: rgb(60, 55, 55);
        padding-top: 20px;
        padding-bottom: 20px;
        color: white;
        font-weight: bold;
    }